In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv('TAULA_MAP_SCENSAL.csv')
data = df
# print(data)

In [4]:
data

,SECCIO_CENSAL,HOMES,DONES,EDAT_0_A_14,EDAT_15_A_24,EDAT_25_A_64,EDAT_65_A_MES,NACIONALS,COMUNITARIS,ESTRANGERS,DATA_DADES
0,1001,663,608,156,106,816,193,696,134,441,04-09-2022 10:00:05
1,1002,678,629,119,148,851,189,553,170,584,04-09-2022 10:00:05
2,1003,1885,1597,721,446,1940,375,1900,227,1355,04-09-2022 10:00:05
3,1004,1547,1314,347,314,1906,294,1492,306,1063,04-09-2022 10:00:05
4,1005,1218,1061,279,271,1438,291,1201,294,784,04-09-2022 10:00:05
...,...,...,...,...,...,...,...,...,...,...,...
1063,10143,849,951,205,199,1004,392,1399,58,343,04-09-2022 10:00:05
1064,10234,807,974,159,156,941,525,1510,63,208,04-09-2022 10:00:05
1065,10235,615,681,134,95,689,378,1070,66,160,04-09-2022 10:00:05
1066,10236,740,846,143,96,813,534,1269,105,212,04-09-2022 10:00:05
1067,10237,406,508,105,97,505,207,756,27,131,04-09-2022 10:00:05